<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>
		{{ _site_name }}
		{{ if segment_1 }}
		– {{ title }}
		{{ endif }}
	</title>
	<meta name="description" content="Phil Barbato">
	<meta name="author" content="Phil Barbato">

	<!-- styles -->
	{{ theme:css src="screen" tag="true" }}

	<script type="text/javascript" src="//use.typekit.net/lnm4vca.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<!--[if lt IE 10]>

	<![endif]-->
</head>

<body class="{{ if ! segment_1 }}home{{ else }}page{{ endif }}">
<div class="wrapper page-wrapper">
	
	<!-- Header -->
	<header class="main-header">
		<h1><a href="{{ homepage }}" rel="home">Phil Barbato</a></h1>
	</header>
	
	<!-- Navigation. transform into icons on home page move to off-canvas on interior -->
	{{ if segment_1 }}<input type="checkbox" class="main-nav-check" id="main-nav-check" />{{ endif }}
	<nav class="main-nav">
		{{ if segment_1 }}<label for="main-nav-check" class="toggle-menu">☰</label>{{ endif }}
		<ul>
			{{ nav from="/" include_content="true" }}
			<li class="nav-item nav-item-{{ title|lower|slugify }}{{ if is_current || is_parent }} active{{ endif }}"><a href="{{ url }}"> {{if !segment_1}}{{ theme:partial src="icon-{{ title|lower|slugify }}" }}{{endif}}{{ title }}</a></li>
			{{ /nav }}
			
			<!-- Maybe this isn't live at launch? -->
			<!-- <li class="nav-blog"><a href="#"><img src="/assets/images/icon-octo.svg" aria-hidden class="nav-icon nav-icon-blog" alt="Blog" />Blog</a></li> -->
		</ul>
	</nav>
	
	<!-- Main Content Area -->
	<div class="content">
		{{ layout_content }}
	</div>
	
	<!-- Page Footer -->
	<footer class="main-footer">
		<!-- Social links, redundant nav, etc. -->
		<nav class="social-nav">
			<ul>
				<li class="nav-item nav-item-tumblr"><a href="http://philbarbato.tumblr.com/"><span class="social-icon-tumblr">t</span></a></li>
				<li class="nav-item nav-item-twitter"><a href="https://twitter.com/philbarbato"><span class="social-icon-twitter">T</span></a></li>
				<li class="nav-item nav-item-facebook"><a href="https://www.facebook.com/phil.barbato.loves.you"><span class="social-icon-facebook">F</span></a></li>
				<li class="nav-item nav-item-etsy"><a href="https://www.etsy.com/shop/philbarbato"><span class="social-icon-etsy">E</span></a></li>
			</ul>
		</nav>
	</footer>
	
</div>

	{{ location:start_maps smart_include="true" }}
	{{#{{ theme:js src="scripts" }}#}}
</body>
</html>