@import "normalize";
@import "vars";

// Social Icons
@font-face {
	font-family: 'pbdc-social-icons';
	src:url('../fonts/pbdc-social-icons.eot?-gkuloy');
	src:url('../fonts/pbdc-social-icons.eot?#iefix-gkuloy') format('embedded-opentype'),
		url('../fonts/pbdc-social-icons.woff?-gkuloy') format('woff'),
		url('../fonts/pbdc-social-icons.ttf?-gkuloy') format('truetype'),
		url('../fonts/pbdc-social-icons.svg?-gkuloy#pbdc-social-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
//animations
@keyframes CLOUD-MOVE {
	from {
		background-position: 5% 5%
	}
	to { 
		background-position: -1200% 600%
	}
}
@keyframes two-frames{
	0%{
		opacity:0;
	}
	50%{
		opacity:1;
	}
}

html{
	background:lighten($cyan,48%) url('../img/cloud-bg.svg') repeat fixed center 0;
	background-size:600px auto;
	height:100%;
	
	animation-name: CLOUD-MOVE;
	animation-duration: 100s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;	
}

body{
	font-family:"proxima-nova-soft-1", "proxima-nova-soft-2",sans-serif;
	font-style:normal;
	font-weight:500;
	height:100%;
	position:relative;
}

h1, h2, h3, h5, h5, h6{
	font-family:"proxima-nova-soft-1", "proxima-nova-soft-2",sans-serif;
	font-style:normal;
	font-weight:700;
}

a{
	color:$darkblue;
}

// Page Wrapper
.page-wrapper{
	display: flex;
	flex-direction:column;
	min-height:100%;
	overflow:hidden;
	position:relative;
}

// Main Header
.main-header{
	background:$magenta;
	font-size:36px;
	padding:0 10px;
	height:1.25em;
	a{
		color:#fff;
		display:block;
		font-family:"proxima-nova-soft-1", "proxima-nova-soft-2",sans-serif;
		font-size:36px;
		font-style:normal;
		font-weight:700;
		line-height:1.25em;
		margin:0 auto .666666em;
		max-width:$max-width;
		text-decoration:none;
	}
}

//Main Nav
.main-nav-check {
  display: none;
}
.main-nav{
	ul{
		list-style: none;
		margin:0;
		padding:0;
		a{
			color:$magenta;
			font:normal 700 18px/24px "proxima-nova-soft-1", "proxima-nova-soft-2",sans-serif;
			text-decoration:none;
			text-transform:uppercase;
		}
	}	
	.home &{
		ul{
			align-content: space-around;
			align-items:center;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			padding-top:12px;
			.nav-item{
				flex:1 1 auto;
				margin:12px 0;
				width:120px;
				position:relative;
				text-align:center;
			}
			a{
				display:block;
				&:hover, &:focus {
			    	color:$darkblue;
					svg{
						transform:rotateZ(-3deg);
					}
					.hide-on-hover{
						visibility:hidden;
					}
					.animate-me{
						visibility:visible;
					}
					.frame-1{
						animation: two-frames 300ms steps(1) infinite;
					}
					.frame-2{
						animation: two-frames 300ms steps(1) 150ms infinite;
					}
			    }
			}
			svg{
				display:block;
				margin:0 auto;
				max-height:120px;
				.icon-part{
					fill:#fff;
				}					
				.fill{
					fill:$magenta;
				}
				.fill.lighter{
					fill:tint($magenta,60%);
				}
				.fill.darker{
					fill:mix($magenta,$cyan,66%);
				}
				.line{
					fill:$darkblue;
				}
				.animate-me{
					visibility:hidden;
				}
			}
		}
	}
	.page &{
		background: $magenta;
		border-left:3px solid #fff;
		min-height: 100%;
		max-width:90%;
//		overflow: hidden;
		position: absolute;
		right:-200px;
		top: 0;
//		transform:translate3d(0,0,0);
		transition: all 0.3s ease;
		width:200px;
		z-index:1001;
		.toggle-menu {
			background:$magenta;
			border-right:3px solid #fff;
			color: white;
			cursor: pointer;
			font-size: 36px;
			line-height:1.25em;
			position: absolute;
			left:-1.25em;
			text-align:center;
			top:0;
			width:1.25em;
			&:hover, &:focus{
				color:$yellow;
			}
		}	
		ul{
			.nav-item{
				border-bottom:1px solid #fff;
			}
			svg{
				display:inline-block;
				height:1.25em;
				margin-right:.5em;
				vertical-align:bottom;
				width:1.25em;
				
				.icon-part{
					fill:lighten($magenta,20%);
				}
			}
			a{
				color:#fff;
				display:block;
				padding:.5em;
				&:hover, &:focus {
			      background:lighten($magenta,25%);
			    }
			}
		}
	}
}
.page #main-nav-check:checked + .main-nav {
	right:0;
//	transform:translate3d(-200px,0,0);
}

// Content
.content{
	flex:1;
	margin:0 auto;
	max-width:$max-width;
	padding:0 10px;
	width:100%;
	
	div[id*="wufoo"]{
		border:5px solid lighten($cyan,40%);
		border-radius:18px;
	}
}

// Map Stuffs
.map{
	height:24em;
	width:100%;
}

// Footer
footer{
	background:$magenta;
	padding:.666666em 0;
	.social-nav{
		margin:0 auto;
		max-width:$max-width;
		padding:0 10px;		
		ul{
			display: flex;
			flex-flow:row wrap;
			justify-content:center;
			list-style:none;
			padding:0;
			li{
				flex:1 1 auto;
				max-width:100px;
				min-width:50px;
				text-align:center;
				a{
					color:#fff;
					text-decoration:none;
					&:hover, &:focus{
						color:$yellow;
					}
				}
			}
		}
	}
}
[class^="social-icon-"], [class*=" social-icon-"] {
	font-family: 'pbdc-social-icons';
	speak: none;
	font-size:36px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


